body{
    background-color: #fff;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;

}

body h1{
    font-family: "PokemonSolid";
    font-size: 3rem;
    color: #FECA1B;
    text-shadow: 
        -4px -4px 0px #3761A8, 
        -4px 4px 0px #3761A8,      
        4px -4px 0px #3761A8,    
        4px 0px 0px #3761A8;

}

a{
    text-transform: none;
    text-decoration: none;

}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.content{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    background-position: left;
    width: 100vw;
    
}

.content header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.content header h2{
    color: blue;
    text-align: right

}


.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.pokemonLayout{
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    padding: .5rem .5rem 0 .5rem;
    background-image: url(../imagens/Pokeball.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: right;
    background-position-y: bottom;

}


.pokemon {
    margin: .5rem;
    padding: .125rem .125rem 1rem .125rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    
}

.pokemon .number{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: right;
    float: right;
    
}

.pokemon .name{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: .25rem 0;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.pokemon .detail img{
    max-width: 100%;
    height: 100px;
    
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;

}

.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.15);
    text-align: center;
    
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

}

.pagination button{
    font-family: 'PokemonSolid';
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;

}

.pokeDetail{
    background-color: #49D0B0;

}

#buttons{
    display: flex;
    justify-content: end;
    border-radius: 2rem;
    background-color: black;
    height: 3rem;
    border-style: solid;
    border-width: .1rem;
    border-color: white;

}

.buttons{
    display: flex;
    justify-content: end;


}

.btStyle {
    background: none;
    border: none;

}

.btStyle img{
    background: none;
    border: none;
    width: 2rem;
}