@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face {
    font-family: 'PokemonSolid';
    src: url("../fonts/PokemonSolid.ttf");

}
@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf");
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }

    .content{
        height: auto;
        max-width: 992px;
        margin: 0rem auto;
        border-radius: 1rem;
        background-position-x: 530px;
        background-position-y: -70px;
            
    }

}

body{
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-attachment: fixed;
      
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
header h1 {
    font-family: "PokemonSolid";
    font-size: 3rem;
    color: #FECA1B;
    text-shadow: -4px -4px 0px #3761a8, -4px 4px 0px #3761a8, 4px -4px 0px #3761a8, 4px 0px 0px #3761a8;

}
header .buttons {
    display: flex;
    justify-content: end;

}

.header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}

.header a{
    text-decoration: none; 
    
}

.content{
    padding: 0.5rem;
    height: auto;
    margin-bottom: 10px;
    max-width: 992px;
    border-radius: 2rem;
    background-image: url(../imagens/Pokeball.png);
    background-size: 25rem;
    background-position: top;
    background-repeat: no-repeat;
    
}
.content1{
    padding: .5rem;
    height: auto;
    margin-bottom: 10px;
    max-width: 992px;
    margin: 0 auto;
    
}


.pokeStatus{
    height: 400px;
    border-radius: 1rem;
    background-color: #fff;
    border-radius: 2rem;

}

.content .types {
    list-style: none;
    color: #fff;
    padding: 1rem;
    margin: 0.25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -35px;
    padding-top: 50px;

}

.pokeStatus .types .type{
    border-radius: 1rem;
    padding-top: 5px;
    width: 4rem;
    height: 1rem;
    margin: 0 0.5rem;
    font-family: 'Poppins-Regular';
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    
}

.pokemonView{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    
}

.pokemonView img{
    margin: -50px;
    width: 17rem;
    position: relative;
    top: -40px;
    
}

.number{
    color: #fff;
    margin: .25rem 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 20px;
    
}

.name{
    color: #fff;
    margin: .25rem 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.75rem;
    padding-left: 20px;
    
}

.arrow img{
    width: .75rem;
}

.infoTitle{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;

}

.pokeAbout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: bold;
    color: #000;
    
}

.pokeAbout .p{
    color: #666666;
    font-size: 10px;
    padding: 0.235rem;

}
.pokeAbout .pp{
    color: #666666;
    font-size: 10px;

}

.aboutInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.moves ol{
    list-style: none;
    padding: 0;

}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.stats ol {
    list-style: none;

}

.stats_value ol,.stats_name ol{
    margin: 5px 20px;
    padding-left: 0px;

}

.stats_value li,.stats_name li {
    padding-bottom:2px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}

.stats_name {
    text-align: right;
    font-size: 14px;
    font-weight: bold;

}

.stats_value {
    font-size: 14px;
    color: #000;

}

.container-barra {
    width: 600px;
    margin-right: 10px;

}

.barra {
    height: 100%;
    background-color: #dbf5ce;
    height: 10px;
    margin: 8px 0px;
    border-radius: 10px;

}

.specs_height .i{
    height: 25px;
    margin-left: 10px;

}

.specs_weight .i {
    height: 18px;

}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

}

.pagination button{
    font-family: 'PokemonSolid';
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;

}

#button{
    display: flex;
    justify-content: end;
    border-radius: 2rem;
    background-color: black;
    border-style: solid;
    border-width: .4rem;
    border-color: white;
    box-shadow: 1px  2px 12px black;

}

.btStyle {
    background: none;
    border: none;
    padding: 0px;

}

.btStyle img{
    background: none;
    border: none;
    width: 1.5rem;
    

}